h2 {
    margin-top: 20px;
    font-size: 1.2rem;
}

#rotate {
    transform: rotate(-30deg);
}

#scale {
    transform: scale(0.5);
}

#skewx {
    transform: skewx(-30deg);
}

#skewy {
    transform: skewy(-30deg);
}

#translate {
    transform: translate(30px, 10px);
}