@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Serif&family=Playfair+Display:ital@0;1&family=Hind&display=swap');

root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}


.droid,
body {
    font-family: 'PT Serif', serif;
}

.oswald,
header {
    font-family: 'Oswald', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

body {
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #ffffff;
    padding: 0px 150px;
    width: 100%;
}

header>div {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
    padding: 10px 0px;
}

header div {
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: black;
}

.iconic {
    background-repeat: no-repeat;
    padding-left: 22px;
}

.iconic:nth-child(odd) {
    margin-left: 10px;
}

.icoshop {
    background-image: url("../media/img/iconos/ico-shop.png");
}

.icolang {
    background-image: url("../media/img/iconos/ico-lang.png");
    background-position: left;
}

.icoloc {
    background-image: url("../media/img/iconos/ico-loc.png");
    background-position: left;
}

/* NAV */

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #6b6b6b;
}

nav a:hover,
a.current {
    color: black;
}

.separador {
    background-image: linear-gradient(to bottom, #dedede, white);
    height: 20px;
}

/* FOOTER */

footer {
    clear: both;
    background-color: #dedede;
    padding: 30px 50px 10px;
    overflow: hidden;
}

#footer1 {
    float: left;
    text-align: right;
}

#footer2 {
    float: left;
    padding: 15px 5vw 0px;
    font-size: 0.8rem;
}

#footer3 {
    display: flex;
    float: right;
    align-items: center;
    margin-bottom: 60px;
}

#footer3>img {
    padding: 0px 10px;
}

#footer4 {
    float: left;
    clear: both;
    padding: 10px 60px;
}

#footer5 {
    float: right;
}

footer p {
    clear: both;
    border-top: 2px solid #c8c8c8;
    line-height: 3rem;
    font-size: 0.8rem;
}

/* MAIN */

main {
    text-align: center;
}

section {
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
}

.ventana {
    background-attachment: fixed;
    background-image: url("../media/img/hotel.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
}

#cerrados {
    display: inline-block;
    position: relative;
    top: 200px;
    border: 5px solid lightgray;
    background-color: white;
    padding: 5px 30px;
    font-size: 0.9rem;
}

#premio {
    position: relative;
    top: 250px;
    left: -300px;
}

.presentacion h1 {
    font-size: 62px;
}

.presentacion h2 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.presentacion p {
    margin-bottom: 10px;
    font-family: 'Hind', sans-serif;
    font-size: 1em;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.opcion {
    margin: 15px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
}

.opcion p {
    padding: 10px 30px 50px;
    height: 170px;
}

.opcion a:hover {
    text-decoration: underline;
}

.opc-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100px;
}

#opc1 .opc-img {
    background-image: url("../media/img/index/img1.png");
}

#opc2 .opc-img {
    background-image: url("../media/img/index/img2.png");
}

#opc3 .opc-img {
    background-image: url("../media/img/index/img3.png");
}

#opc4 .opc-img {
    background-image: url("../media/img/index/img4.png");
}

#opc5 .opc-img {
    background-image: url("../media/img/index/img5.png");
}

#opc6 .opc-img {
    background-image: url("../media/img/index/img6.png");
}

/* HABITACIONES */

#ven-hab {
    background-image: url("../media/img/habitaciones.jpg");
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

.video video {
    float: left;
}

.video div {
    padding: 10px 30px;
    font-size: 0.7em;
}

.galeria {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.gal-sob {
    font-style: italic;
}

.gal-sub {
    font-size: 1.5rem;
    font-weight: bold;
}

#act0 {
    margin: 0px 0px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    font-variant: small-caps;
}

.actividades {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 3px;
    width: 80%;
    height: calc(80vw*2/5);
}

.actividad {
    transition-duration: 1s;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#act1 {
    filter: sepia();
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../media/img/act1.png");
}

#act1:hover {
    transform: scale(0.5);
}

#act2 {
    filter: blur(3px);
    grid-row: 1/3;
    grid-column: 2/3;
    background-image: url("../media/img/act2.png");
}

#act2:hover {
    filter: none;
    transform: scale(60%) rotate(20deg);
}

#act3 {
    filter: grayscale();
    grid-row: 1/2;
    grid-column: 3/4;
    background-image: url("../media/img/act3.png");
}

#act3:hover {
    transform: translate(4em);
}

#act4 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../media/img/act4.png");
}

#act4:hover {
    transform: scale(1.5);
}

#act5 {
    filter: sepia();
    grid-row: 2/3;
    grid-column: 3/4;
    background-image: url("../media/img/act5.png");
}

#act5:hover {
    transform: scale(1.5) skewY(15deg) rotate(360deg);
}

.habitaciones {
    display: flex;
    flex-direction: column;
}

.habitacion {
    margin-bottom: 20px;
    border: 1px solid lightgray;
    color: #858585;
}

.habitacion:nth-child(odd) img {
    float: right;
    margin-left: 20px;
}

.habitacion:nth-child(even) img {
    float: left;
    margin-right: 20px;
}

.habitacion img:hover {
    animation: rebote 500ms;
}

@keyframes rebote {
    20% {
        transform: translateY(10px);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(5px);
    }

    80% {
        transform: translateY(-5px);
    }
}

.habitacion h1 {
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.habitacion h2 {
    margin: 10px;
    text-transform: capitalize;
    font-size: 1em;
    font-variant: small-caps;
    font-style: italic;
}

.habitacion p {
    margin: 10px;
    font-size: 0.6em;
}

.servicio {
    float: left;
    padding: 10px;
    width: 20%;
    height: 100px;
}

.servicios p {
    font-variant: small-caps;
    font-size: 0.7em;
}

.servicios a {
    text-decoration: underline;
}

.relleno {
    height: 181px;
}

/* CONTACTO */

#contenedor1 {
    padding: 64px 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'form info'
        'prot info'
        'firm firm';
    row-gap: 64px;
    text-align: left;
}

#formulario {
    grid-area: form;
    width: 100%;
    max-width: 640px;
    height: 100%;
}

#formulario form {
    padding: 24px 40px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'nom nom ciu ciu'
        'ema ema tel tel'
        'asu asu asu asu'
        'con con con con'
        'ace ace ace env';
    row-gap: 24px;
    column-gap: 40px;
}

#formulario input {
    width: calc(100% - 8px);
    height: 32px;
}

#formulario input[type="checkbox"] {
    width: auto;
    height: auto;
}

#formulario label {
    font-size: 0.75rem;
}

#formulario textarea {
    width: calc(100% - 8px);
    height: 96px;
}

#formulario button {
    width: 100%;
    height: 32px;
}

#nom {
    grid-area: nom;
}

#ciu {
    grid-area: ciu;
}

#ema {
    grid-area: ema;
}

#tel {
    grid-area: tel;
}

#asu {
    grid-area: asu;
}

#con {
    grid-area: con;
}

#ace {
    grid-area: ace;
}

#env {
    grid-area: env;
}

#proteccion {
    grid-area: prot;
    width: 100%;
    max-width: 640px;
    height: 100%;
}

#proteccion table {
    margin: 24px 40px;
    border-collapse: collapse;
}

#proteccion tbody td,
#proteccion thead th {
    border: 1px solid #333;
    padding: 8px;
}

#proteccion tfoot td {
    padding-top: 20px;
}

#informacion {
    grid-area: info;
    border-left: 1px solid black;
    width: 100%;
    height: 100%;
}

#firma {
    grid-area: firm;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100%;
}