@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.droid,
body {
    font-family: 'PT Serif', serif;
}

.oswald,
header {
    font-family: 'Oswald', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h3 {
    text-align: center;
    font-size: 1rem;
}

body {
    text-align: center;
}

/* HEADER */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #ffffff;
    padding: 0px 150px;
    width: calc(100% - 300px);
}

@media screen and (min-width: 900px) {
    #encabezamiento {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #e5e5e5;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 900px) {
    .ocultar1 {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .ocultar2 {
        display: none;
    }
}

header div {
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: black;
}

.iconic {
    background-repeat: no-repeat;
    padding-left: 22px;
}

.iconic:nth-child(odd) {
    margin-left: 10px;
}

.icoshop {
    background-image: url("../media/img/iconos/ico-shop.png");
}

.icolang {
    background-image: url("../media/img/iconos/ico-lang.png");
    background-position: left;
}

.icoloc {
    background-image: url("../media/img/iconos/ico-loc.png");
    background-position: left;
}

/* NAV */

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #6b6b6b;
}

nav a:hover,
a.current {
    color: black;
}

.separador {
    background-image: linear-gradient(to bottom, #dedede, white);
    height: 20px;
}

/* FOOTER */

footer {
    clear: both;
    background-color: #dedede;
    padding: 30px 50px 10px;
    overflow: hidden;
}

#footer1 {
    float: left;
}

#footer2 {
    float: left;
    padding: 15px 5vw 0px;
    text-align: left;
    font-size: 0.8rem;
}

#footer3 {
    display: flex;
    float: right;
    align-items: center;
    margin-bottom: 60px;
}

#footer3>img {
    padding: 0px 10px;
}

#footer4 {
    float: left;
    clear: both;
    padding: 20px 60px;
}

#footer5 {
    float: right;
}

footer p {
    clear: both;
    margin: 0px;
    border-top: 2px solid #c8c8c8;
    padding: 20px;
    font-size: 0.8rem;
}

/* MAIN */

main {
    text-align: center;
}

section {
    margin: auto;
    margin-bottom: 50px;
    width: 75%;
}

.ventana {
    background-attachment: fixed;
    background-image: url("../media/img/hotel.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 350px;
}

#cerrados {
    display: inline-block;
    position: relative;
    top: 50px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 5px 30px;
    font-size: 0.9rem;
}

#premio {
    position: relative;
    top: 100px;
    left: -300px;
}

.presentacion h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 62px;
    font-weight: 300;
}

.presentacion h2 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.presentacion p {
    margin-bottom: 10px;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

#opciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.opcion {
    margin: 15px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
}

.opcion p {
    padding: 10px 30px 50px;
    height: 150px;
}

.opcion a {
    font-family: 'Oswald', sans-serif;
}

.opcion a:hover {
    text-decoration: underline;
}

.opc-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100px;
}

#opc1 .opc-img {
    background-image: url("../media/img/index/img1.png");
}

#opc2 .opc-img {
    background-image: url("../media/img/index/img2.png");
}

#opc3 .opc-img {
    background-image: url("../media/img/index/img3.png");
}

#opc4 .opc-img {
    background-image: url("../media/img/index/img4.png");
}

#opc5 .opc-img {
    background-image: url("../media/img/index/img5.png");
}

#opc6 .opc-img {
    background-image: url("../media/img/index/img6.png");
}

/* HABITACIONES */

#ven-hab {
    background-image: url("../media/img/habitaciones.jpg");
}

#video {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

#video video {
    float: left;
}

#video div {
    padding: 10px 30px;
}

#video h1 {
    font-size: 20px;
    font-weight: 300;
}

#video p {
    font-size: 15px;
}

#galeria {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#galeria div {
    width: 20%;
    text-align: center;
}

.gal-sob {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.gal-sub {
    font-size: 18px;
    font-weight: bold;
}

#actividades {
    width: 80%;
}

#actividades h1 {
    margin: 0px 0px 20px;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
}

#actlayout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 3px;
    width: 100%;
    height: calc(80vw*2/5);
}

.actividad {
    transition-duration: 1s;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#act1 {
    filter: sepia();
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../media/img/act1.png");
}

#act1:hover {
    transform: scale(0.5);
}

#act2 {
    filter: blur(3px);
    grid-row: 1/3;
    grid-column: 2/3;
    background-image: url("../media/img/act2.png");
}

#act2:hover {
    filter: none;
    transform: scale(60%) rotate(20deg);
}

#act3 {
    filter: grayscale();
    grid-row: 1/2;
    grid-column: 3/4;
    background-image: url("../media/img/act3.png");
}

#act3:hover {
    transform: translate(4em);
}

#act4 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../media/img/act4.png");
}

#act4:hover {
    transform: scale(1.5);
}

#act5 {
    filter: sepia();
    grid-row: 2/3;
    grid-column: 3/4;
    background-image: url("../media/img/act5.png");
}

#act5:hover {
    transform: scale(1.5) skewY(15deg) rotate(360deg);
}

#organiza {
    border: 1px solid lightgray;
    overflow: hidden;
}

#organiza img {
    float: left;
    margin-right: 20px;
}

#organiza h1 {
    margin: 20px;
    font-size: 20px;
}

#organiza p {
    margin: 20px;
    font-size: 15px;
}

#habitaciones {
    display: flex;
    flex-direction: column;
}

.habitacion {
    margin-bottom: 20px;
    border: 1px solid lightgray;
    color: #858585;
}

.habitacion:nth-child(odd) img {
    float: right;
    margin-left: 20px;
}

.habitacion:nth-child(even) img {
    float: left;
    margin-right: 20px;
}

.habitacion img:hover {
    animation: rebote 500ms;
}

@keyframes rebote {
    20% {
        transform: translateY(10px);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(5px);
    }

    80% {
        transform: translateY(-5px);
    }
}

.habitacion h1 {
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.habitacion h2 {
    margin: 10px;
    text-transform: capitalize;
    font-size: 0.7em;
    font-variant: small-caps;
    font-style: italic;
}

.habitacion p {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

#servicios h1 {
    text-transform: none;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-style: italic;
}

.servicio {
    float: left;
    width: 20%;
    height: 100px;
}

.servicio p,
#servicios>p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-variant: small-caps;
}

#servicios>p {
    clear: both;
    padding: 30px;
}

#servicios a {
    text-decoration: underline;
}

.relleno {
    height: 175px;
}

/* CONTACTO */

#contenedor1 {
    padding: 64px 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'form info'
        'prot info'
        'firm firm';
    row-gap: 64px;
    text-align: left;
}

#formulario {
    grid-area: form;
    width: 100%;
    max-width: 640px;
    height: 100%;
}

#formulario form {
    padding: 0px 40px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'nom nom ciu ciu'
        'ema ema tel tel'
        'asu asu asu asu'
        'con con con con'
        'ace ace ace env';
    row-gap: 24px;
    column-gap: 40px;
}

#formulario input {
    width: calc(100% - 8px);
    height: 32px;
}

#formulario input[type="checkbox"] {
    width: auto;
    height: auto;
}

#formulario label {
    font-size: 0.75rem;
}

#formulario textarea {
    width: calc(100% - 8px);
    height: 96px;
}

#formulario button {
    width: 100%;
    height: 32px;
}

#nom {
    grid-area: nom;
}

#ciu {
    grid-area: ciu;
}

#ema {
    grid-area: ema;
}

#tel {
    grid-area: tel;
}

#asu {
    grid-area: asu;
}

#con {
    grid-area: con;
}

#ace {
    grid-area: ace;
}

#env {
    grid-area: env;
}

#proteccion {
    grid-area: prot;
    width: 100%;
    max-width: 640px;
    height: 100%;
}

#proteccion table {
    margin: 24px 40px;
    border-collapse: collapse;
}

#proteccion tbody td,
#proteccion thead th {
    border: 1px solid #333;
    padding: 8px;
}

#proteccion tfoot td {
    padding-top: 20px;
}

#informacion {
    grid-area: info;
    border-left: 1px solid #333;
    width: 100%;
    height: 100%;
}

#informacion li {
    padding: 8px;
    list-style: none;
}

#firma {
    grid-area: firm;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 16px;
    width: 100%;
    text-align: center;
}

#firma span {
    margin: 0 10px 0 0;
    border-right: 1px solid #333;
    padding: 0 10px 0 0;
    font-weight: bold;
    font-variant: small-caps;
}

/* LOCALIZACION */

#mapa,
#horario {
    margin-top: 50px;
    margin-bottom: 50px;
}

#mapa {
    float: left;
    margin-left: 200px;
}

#horario {
    margin-left: 600px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
}

iframe {
    border: 2px solid #333;
    border-radius: 5% 50%;
    width: 300px;
    height: 300px;
}

#horario h1,
#horario h2,
#horario p,
#horario li {
    font-family: 'Oswald', sans-serif;
}

#horario h1 {
    text-transform: none;
    font-size: 1rem;
    font-weight: normal;
    font-variant: normal;
}

#horario h2 {
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold;
}

#horario li {
    list-style: none;
    text-align: left;
    font-size: 0.7rem;
}

#horario p {
    font-size: 0.8rem;
}

#horario sub {
    text-align: left;
    color: #333;
    font-style: italic;
}