@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Serif&family=Playfair+Display:ital@0;1&family=Hind&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.droid,
body {
    font-family: 'PT Serif', serif;
}

.oswald,
header {
    font-family: 'Oswald', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

body {
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #ffffff;
    padding: 0px 150px;
    width: 100%;
}

header>div {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
    padding: 10px 0px;
}

header div {
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: black;
}

.iconic {
    background-repeat: no-repeat;
    padding-left: 22px;
}

.iconic:nth-child(odd) {
    margin-left: 10px;
}

.icoshop {
    background-image: url("../media/img/iconos/ico-shop.png");
}

.icolang {
    background-image: url("../media/img/iconos/ico-lang.png");
    background-position: left;
}

.icoloc {
    background-image: url("../media/img/iconos/ico-loc.png");
    background-position: left;
}

/* NAV */

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #6b6b6b;
}

nav a:hover,
a.current {
    color: black;
}

.separador {
    background-image: linear-gradient(to bottom, #dedede, white);
    height: 20px;
}

/* FOOTER */

footer {
    background-color: #dedede;
    padding: 30px 50px 10px;
    overflow: hidden;
}

#footer1 {
    float: left;
    text-align: right;
}

#footer2 {
    float: left;
    padding: 15px 5vw 0px;
    font-size: 0.8rem;
}

#footer3 {
    display: flex;
    float: right;
    align-items: center;
    margin-bottom: 60px;
}

#footer3>img {
    padding: 0px 10px;
}

#footer4 {
    float: left;
    clear: both;
    padding: 10px 60px;
}

#footer5 {
    float: right;
}

footer p {
    clear: both;
    border-top: 2px solid #c8c8c8;
    line-height: 3rem;
    font-size: 0.8rem;
}

/* MAIN */

section {
    margin: 60px 150px 20px;
}

h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.ventana {
    margin: 60px 0px 20px;
    background-attachment: fixed;
    background-image: url("../media/img/hotel.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
}

#cerrados {
    display: inline-block;
    position: relative;
    top: 150px;
    border: 5px solid lightgray;
    background-color: white;
    padding: 5px 30px;
    font-size: 0.9rem;
}

#premio {
    position: relative;
    top: 200px;
    left: -300px;
}

.presentacion h1 {
    font-size: 62px;
}

.presentacion h2 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.presentacion p {
    margin: 0px 0px 10px 0px;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.opcion {
    margin: 15px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;

}

.opcion p {
    padding: 10px 30px 50px;
    height: 170px;
}

.opcion a:hover {
    text-decoration: underline;
}

.opc-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100px;
}

#opc1 .opc-img {
    background-image: url("../media/img/index/img1.png");
}

#opc2 .opc-img {
    background-image: url("../media/img/index/img2.png");
}

#opc3 .opc-img {
    background-image: url("../media/img/index/img3.png");
}

#opc4 .opc-img {
    background-image: url("../media/img/index/img4.png");
}

#opc5 .opc-img {
    background-image: url("../media/img/index/img5.png");
}

#opc6 .opc-img {
    background-image: url("../media/img/index/img6.png");
}

/* HABITACIONES */

#ven-hab {
    background-image: url("../media/img/habitaciones.jpg");
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 150px 20px;
    border: 2px solid lightgray;
}

.video video {
    float: left;
}

.video div {
    padding: 0 50px;
}

.galeria {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}
.gal-sob {
    font-style: italic;
}

.gal-sub {
    font-size: 1.5rem;
    font-weight: bold;
}
